# Ignore all .mp4 files anywhere in the repo
*.mp4

# Ignore working directories
/videos/frames/
/temp
/uploads
/__pycache__

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore logs and system files
app.log

# Ignore testing files
/reports/*.pdf